.header-principal {
    position: relative;
    width: 70%;
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}



a {
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.imagen-header {
    width: 70px;
}